[include macros/*.cfg]

[save_variables]
filename: ~/printer_data/variables.cfg

[force_move]
enable_force_move: true

[pause_resume]

[display_status]

[respond]
default_type: echo

[gcode_arcs]
resolution: 1.0

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT



[printer]
kinematics: cartesian
max_velocity: 10000
max_accel: 1000
max_z_velocity: 250
max_z_accel: 200

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_0F00030EA498C895DBE43461C02000F5-if00

#*********************************************
# PROBE
#*********************************************
[probe]
pin: ^!P1.0
#   Probe detection pin. If the pin is on a different microcontroller
#   than the Z steppers then it enables "multi-mcu homing". This
#   parameter must be provided.
#deactivate_on_each_sample: True
#   This determines if Klipper should execute deactivation gcode
#   between each probe attempt when performing a multiple probe
#   sequence. The default is True.
#x_offset: 0.0
#   The distance (in mm) between the probe and the nozzle along the
#   x-axis. The default is 0.
#y_offset: 0.0
#   The distance (in mm) between the probe and the nozzle along the
#   y-axis. The default is 0.
#z_offset: 1.55
#   The distance (in mm) between the bed and the nozzle when the probe
#   triggers. This parameter must be provided.
speed: 15.0
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
samples: 5
#   The number of times to probe each point. The probed z-values will
#   be averaged. The default is to probe 1 time.
#sample_retract_dist: 2.0
#   The distance (in mm) to lift the toolhead between each sample (if
#   sampling more than once). The default is 2mm.
#lift_speed:
#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples. The default is to use the same value as the 'speed'
#   parameter.
#samples_result: average
#   The calculation method when sampling more than once - either
#   "median" or "average". The default is average.
#samples_tolerance: 0.100
#   The maximum Z distance (in mm) that a sample may differ from other
#   samples. If this tolerance is exceeded then either an error is
#   reported or the attempt is restarted (see
#   samples_tolerance_retries). The default is 0.100mm.
#samples_tolerance_retries: 0
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. On a retry, all current samples are discarded
#   and the probe attempt is restarted. If a valid set of samples are
#   not obtained in the given number of retries then an error is
#   reported. The default is zero which causes an error to be reported
#   on the first sample that exceeds samples_tolerance.
#activate_gcode:
#   A list of G-Code commands to execute prior to each probe attempt.
#   See docs/Command_Templates.md for G-Code format. This may be
#   useful if the probe needs to be activated in some way. Do not
#   issue any commands here that move the toolhead (eg, G1). The
#   default is to not run any special G-Code commands on activation.
#deactivate_gcode:
#   A list of G-Code commands to execute after each probe attempt
#   completes. See docs/Command_Templates.md for G-Code format. Do not
#   issue any commands here that move the toolhead. The default is to
#   not run any special G-Code commands on deactivation.

#*********************************************
# STEPPER
#*********************************************
[stepper_y]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
rotation_distance = 32
microsteps: 16
endstop_pin: !P1.29
position_endstop: 540
position_min: 0
position_max: 540
homing_speed: 100
homing_retract_dist: 10

[stepper_y1] #y
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
rotation_distance = 32
microsteps: 16
endstop_pin: !P1.26

[stepper_x] #e0
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
rotation_distance = 32
microsteps: 16
endstop_pin: !P1.28
position_endstop: 540
position_min: 0
position_max: 540
homing_speed: 100
homing_retract_dist: 10

[stepper_x1] #e1
step_pin: P1.15
dir_pin: P1.14
enable_pin: !P1.16
rotation_distance = 32
microsteps: 16
endstop_pin: !P1.25

[stepper_z] #z
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
#rotation_distance = <full_steps_per_rotation> * <microsteps> * <step_distance>
#rotation_distance = 400( 0.9 stepper motors ) * 32 * 0.00060 = 16
rotation_distance = 8
microsteps: 32
endstop_pin: P1.27
position_max: 100
position_min: -30
homing_speed: 15
homing_retract_dist: 4
homing_positive_dir: true
position_endstop: 100

#*********************************************
# STEPPER DRIVER
#*********************************************
[tmc2209 stepper_y]
uart_pin: P1.10
run_current: 1.200

[tmc2209 stepper_y1]
uart_pin: P1.9
run_current: 1.200

[tmc2209 stepper_x]
uart_pin: P1.4
run_current: 1.200

[tmc2209 stepper_x1]
uart_pin: P1.1
run_current: 1.200

[tmc2209 stepper_z]
uart_pin: P1.8
run_current: 1.200


#*********************************************
# RELAY
#*********************************************
[output_pin RELAY_M3]
pin: !P1.31
value: 0
shutdown_value: 0

[output_pin RELAY_M3_1]
pin: !P1.22
value: 0
shutdown_value: 0

[output_pin RELAY_M7]
pin: !P3.26
value: 0
shutdown_value: 0

[output_pin RELAY_M8]
pin: !P0.17
value: 0
shutdown_value: 0

[output_pin RELAY_PINA]
pin: !P3.25
value: 0
shutdown_value: 0

[output_pin RELAY_PINB]
pin: !P1.23
value: 0
shutdown_value: 0

#*********************************************
# DISPLAY & BEEPER
#*********************************************
#       Cable                     Melzi                SKR
#       -----                     -----               -----
#  GND |10 9 | 5V            GND |10 9 | 5V       5V |10 9 | GND
#   A4 | 8 7 | D10/RX1       PA4 | 8 7 | PD2    1.23 | 8 7 | 1.22
#   A3 | 6 5   D11/TX1       PA3 | 6 5   PD3    1.21 | 6 5   1.20
#   A2 | 4 3 | D16/SCL       PA2 | 4 3 | PC0    1.19 | 4 3 | 1.18
#   A1 | 2 1 | D17/SDA       PA1 | 2 1 | PC1    0.28 | 2 1 | 1.30
#       -----                     -----               -----
#                                                     EXP1
