@font-face {
    font-family: '0xProto Nerd Font Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/0xproto/0xProtoNerdFontMono-Regular.ttf) format('truetype');
}

@font-face {
    font-family: '0xProto Nerd Font Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(/fonts/0xproto/0xProtoNerdFontMono-Bold.ttf) format('truetype');
}

@font-face {
    font-family: '0xProto Nerd Font Mono';
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/0xproto/0xProtoNerdFontMono-Italic.ttf) format('truetype');
}
